<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link  rel="icon" href="{{ url_for('static', filename='images/favicon.ico')}}" />
    <title>Time Tracker! | </title>
   <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}" />
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='styles/custom.css')}}" />
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='styles/nprogress.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <h1><i class="fa fa-qrcode" style="font-size:48px;color:gray"></i> Time Tracker - QR Code Manager</h1>
          <section class="login_content">
            <form action="{{url_for('login')}}" method="post">
              <h1>Sign-In </h1>
              <div>
                <input type="text" class="form-control" name="id" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" class="form-control" name="passcode" placeholder="Password" required="" />
              </div>
<!--              <button type="button" class="btn btn-success" href="qr.html">Login</button>-->
                <div class="center">
                        <input type="submit" class="btn btn-success" value="login">
                </div>

                <br>
                <br>
                <br>

              <p class="change_link">Need help with login?<br>
                <a class="reset_pass" href="#">Reset your password</a>
              </p>

              <div class="separator">
                <p class="change_link">Don't have a Time Tracker account? <br>
                  <a href="#signup" class="to_register"> Sign up for free! </a>
                </p>
              <div>
                <h1> <i class="fa fa-qrcode"></i> Time Tracker</h1>
                <p>©2021 All Rights Reserved. Time Tracker inc. Privacy and Terms</p>
              </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
<!-- SocketIO JS -->
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>-->
<!-- Custom SocketIO JS -->
<script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
  </body>
</html>





