<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link  rel="icon" href="{{ url_for('static', filename='images/favicon.ico')}}" />
    <title>Time Tracker! | </title>
   <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}" />
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='styles/custom.css')}}" />
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='styles/nprogress.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <link href="{{ url_for('static', filename='scripts/qr.js')}}" />-->
      <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="/static/scripts/qr.js"></script>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-clock-o"></i> <span>Time Tracker!</span></a>
        </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>QR Code</h3>
                <ul class="nav side-menu">
                  <li><a href="{{ url_for('qr') }}"><i class="fa fa-clock-o"></i> Full Shift <span class="fa fa-qrcode"></span></a></li>
                  <li><a href="{{ url_for('qr') }}"><i class="fa fa-hourglass"></i> Open Shift <span class="fa fa-qrcode"></span></a></li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ url_for('logout') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                <ul class=" navbar-right">

                </ul>
              </nav>
            </div>
          </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>QR Code Scan</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Full Shifts</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <br>
                      <br>
                      <br>

                     <div class="d-flex justify-content-center" id="qr">
                            <div class="card">
                                <h5 class="card-header">Scan the QR Code Below to Clock In</h5>
                                <div class="card-body">
                                    <div class="card" style="width: 50rem;height: 50rem">
                                        <img id="picture" src="data:image/jpeg;base64,{{ qrcode }}">
                                            <div class="card-body">
                                                <h5 class="card-title">Full Shifts QR Code</h5>
                                            </div>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                     </div>
                        <br>



                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            ©2021 All Rights Reserved. Time Tracker! by <a href="https://colorlib.com">Varniethan.</a> <a href="https://colorlib.com">Privacy and Terms</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <!-- jQuery -->
<!--    <script src="../vendors/jquery/dist/jquery.min.js"></script>-->
    <link href="{{ url_for('static', filename='styles/jquery.min.js')}}" />
    <link href="{{ url_for('static', filename='styles/bootstrap.bundle.min.js')}}" />
<!--    <link href="{{ url_for('static', filename='js/index.js')}}" />-->
    <link  href="{{ url_for('static', filename='styles/bootstrap.nprogress.js')}}" />
<!--    <link  href="{{ url_for('static', filename='styles/socket.js')}}" />-->
    <link  href="{{ url_for('static', filename='styles/bootstrap.custom.min.js')}}" />
    </div>
  </body>
</html>
